@font-face {
    font-family: 'Modata'; /*a name to be used later*/
    src: url('/static/fonts/MgOpenModataRegular.ttf'); /*URL to font*/
}

body, html {
    padding: 0px;
    margin: 0px;
    font-family: 'Modata';
    min-height: 100%;
}

ul.list {
    list-style-type: none;
}

.list li {
    padding-bottom: 10px;
    border-bottom: solid 1px;
    margin-right: 100px;
}

.list li span {
    font-style: italic;
}

textarea {
    width: 100%;
}

input {
    width: 50%;
}

#header {
    position: fixed;
    display: block;
    top: 5px;
    background: rgba(178, 0, 8, .80);
    width: 98%;
    padding: 1%;
    color: #FFFFFF;
}

#header h2 {
    font-size: 30px;
}

#right {
    text-align: right;
    margin: 15px;
}

#header img {
    float: left;
}

#header a {
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    background: #b20008;
    padding: 5px;
    border-radius: 5px;
    border: solid 3px;
    margin: 5px;
}

#down {
    width: 100%;
    padding: 10px;
    border-top: solid 2px;
    margin-bottom: 40px;
}

#note {
    position: absolute;
    margin: 10px;
}